html {
    line-height: 1.5rem;
}

.csv-data {
    border: 2px solid red;
    margin: 8px;
    padding: 8px;
}

.csv-data .unserialized {
    margin-left: 8px;
}

.fields-manipulator {
    margin: 16px 0;
    border: 2px solid Aqua;
}

thead {
    background-color: Aquamarine;
}

tbody {
    background-color: Azure;
}